* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.main {
  min-height: 100vh;
  position: relative;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main .image-container {
  padding: 10px;
}
.main .image-container .image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .image-container .image img {
  width: 350px;
  align-items: center;
}
.main .image-container h1 {
  color: aqua;
  text-align: center;
  margin-bottom: 40px;
}
.main .input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 50px;
  border-radius: 20px;
  background-color: rgba(231, 234, 235, 0.5);
}
.main .input .talk {
  background-color: transparent;
  outline: none;
  border: none;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  cursor: pointer;
}
.main .input .talk ion-icon {
  font-size: 22px;
  color: aqua;
}
.main .input .talk i {
  font-size: 20px;
  color: #aed0d0;
}
.main .input .content {
  color: #aed0d0;
  font-size: 15px;
  margin-right: 20px;
}
